@model ChiwasEngine.Models.LocalPasswordModel
@{
	ViewBag.Title = "Change password";
}
<div class="row">
	
	@Html.Partial("_SideBarAccount")

	<div class="col-md-9">
		<h2>@ViewBag.Title</h2>

		@ViewBag.StatusMessage

		@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "Form" }))
		{
	  
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true)

	  
			<!-- Public Old password/ -->
			<div class="form-group">
				@Html.BSLabelFor("OldPassword", "Old password", "col-lg-3")
				<div class="col-lg-6">
					@Html.ValidationMessageFor(model => model.OldPassword)
					@Html.BSEditorFor(Model.OldPassword, BSEditorForExtension.BSInputTypes.password, "OldPassword", "Old password")
				</div>
			</div>
			<!-- /Public Old password -->
	  
			<!-- Public New password/ -->
			<div class="form-group">
				@Html.BSLabelFor("NewPassword", "New password", "col-lg-3")
				<div class="col-lg-6">
					@Html.ValidationMessageFor(model => model.NewPassword)
					@Html.BSEditorFor(Model.NewPassword, BSEditorForExtension.BSInputTypes.password, "NewPassword", "New password")
				</div>
			</div>
			<!-- /Public New password -->
	  
			<!-- Public Confirm password/ -->
			<div class="form-group">
				@Html.BSLabelFor("ConfirmPassword", "Confirm password", "col-lg-3")
				<div class="col-lg-6">
					@Html.ValidationMessageFor(model => model.ConfirmPassword)
					@Html.BSEditorFor(Model.ConfirmPassword, BSEditorForExtension.BSInputTypes.password, "ConfirmPassword", "Confirm password")
				</div>
			</div>
			<!-- /Public Confirm password -->
	  
			<p>
				@Html.BSButtonFor("Save", "", BSButtonForExtensions.BSButtonClass.primary, BSButtonForExtensions.BSButtonType.submit)
			</p>
		}
	</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
