@model ChiwasEngine.Models.LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Signin CSS -->
    <link href="@Url.Content("~/Content/css/bootstrap-signin.css")" rel="stylesheet" type="text/css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        @*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {*@
        @using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "form-signin" }))
        { 
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h2 class="form-signin-heading">
                Please sign in</h2>
            <input id="UserName" name="UserName" type="text" class="form-control" placeholder="UserName"
                required autofocus>
            <input id="Password" name="Password" type="password" class="form-control" placeholder="Password"
                required>
            <label class="checkbox">
                <input id="RememberMe" name="RememberMe" type="checkbox" value="remember-me">
                Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign in</button>
        }
    </div>
</body>
</html>
